<input type="text" placeholder="'search" [(ngModel)]="term" (keyup)="search()">
<label >Column : </label>
<select [(ngModel)]="column">
    <option >account_name</option>
    <option >city</option>
    <option >account_number</option>
    <option >available_balance</option>  
</select>
<label >Order :</label>
<select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">sort</button>
<select [(ngModel)]="page" (change)="pagination()">

    <option >1</option>
    <option >2</option>
    <option >3</option>
    <option >4</option>
    <option >5</option>

</select><br><br>
<form [formGroup]="bankForm" >
    <label for="">Account Name : </label>
    <input type="text" formControlName="account_name">
    <br><br>
    <label for="">Available Balance : </label>
    <input type="text" formControlName="available_balance">
    <br> <br>
    <label for="">Account Number : </label>
    <input type="text" formControlName="account_number">
    <br><br>
    <label for="">City : </label>
    <input type="text" formControlName="city" >
    <br><br>
    <label for="">Profile Picture : </label>
    <input type="text" formControlName="profie_picture">
    <br><br>
    <button (click)="submit()">submit</button>
</form>
<table border="1" [cellSpacing]="0">
    <thead>
        <tr>
            <th>Account Name </th>
            <th>Available Balance</th>
            <th>Account Number</th>
            <th>City</th>
            <th>Profile</th>
            <th>id</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let backAccount of backAccounts">
            <td>{{backAccount.account_name}}</td>
            <td>{{backAccount.available_balance}}</td>
            <td>{{backAccount.account_number}}</td>
            <td>{{backAccount.city}}</td>
            <td><img src="{{backAccount.profie_picture}}" alt="" width="100px"></td>
            <td>{{backAccount.id}}</td>
            <td><button (click)="delete(backAccount.id)">delete</button></td>
        </tr>
    </tbody>
</table>