<h1 *ngIf="isValid">This Is If Text</h1>
<h1>Age is {{age}}</h1>

<h1 *ngFor="let age of ages">{{age}}</h1>

<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>
<ul>
    <li value="" *ngFor="let state of states">{{state}}</li>
</ul>
<table class="colorful-table"  border="1" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
    </tbody>
</table>

<table class="colorful-table" border="1" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td [ngClass]="{'green':product.price>20000,'red':product.price<20000}">{{product.price}}</td>
            <td [ngStyle]="{'color':product.rating>4?'green':'red'}">{{product.rating}}</td>
        </tr>
    </tbody>
</table>
