<h1>Student Form</h1>
<form  [formGroup]="sForm">
    <label >Name : </label>
    <input type="text" formControlName="name">
    <br>
    <label >Phone : </label>
    <input type="number" formControlName="phone">
    <br>
    <label >City : </label>
    <input type="text" formControlName="city">
    <br>
    <label >DOB : </label>
    <input type="date" formControlName="dob">
    <br>
    <label >Profile_Picture : </label>
    <input type="text" formControlName="profile_picture">
    <br>
    <label >Email : </label>
    <input type="mail" formControlName="email">
    <br>
    <label >School_Logo : </label>
    <input type="text" formControlName="school_logo">
    <br>
    <label >School_Name : </label>
    <input type="text" formControlName="school_name">
    <br>
    <label >School_City : </label>
    <input type="text" formControlName="school_city">
    <br>
    <label >School_Pin : </label>
    <input type="number" formControlName="school_pin">
    <br>
    <button (click)="submit()">Submit</button>
</form>