<div id="d1">
    <img src="assets\dice0.jpeg" width="150px" height="150px" alt="" *ngIf="rnd==0">
    <img src="assets\dice1.png" width="150px" height="150px" alt="" *ngIf="rnd==1">
    <img src="assets\dice2.png" width="150px" height="150px" alt="" *ngIf="rnd==2">
    <img src="assets\dice3.png" width="150px" height="150px" alt="" *ngIf="rnd==3">
    <img src="assets\dice4.png" width="150px" height="150px" alt="" *ngIf="rnd==4">
    <img src="assets\dice5.webp" width="150px" height="150px" alt="" *ngIf="rnd==5">
    <img src="assets\dice6.png" width="150px" height="150px" alt="" *ngIf="rnd==6">
    <br>
    <button (click)="roll()">Play</button>
</div>
