<div class="parent">
    <div id="child1">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="welcome">Welcome</h2>
        <h2 routerLink="studentForm">studentForm</h2>
        <h2 routerLink="studentCard">StudentCards</h2>
        <h2 routerLink="createUser">CreateUser</h2>
        <h2 routerLink="createUserTask">CreateUserTask</h2>
        <h2 routerLink="databinding">Databinding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="tasks">Tasks</h2>
        <h2 routerLink="flipkart">Flipkart</h2>
        <h2 routerLink="flipkart-api">flipkart-api</h2>
        <h2 routerLink="higherOrder">Higher Order</h2>
        <h2 routerLink="allInOne">All-In-One</h2>
        <h2 routerLink="employee">Employee</h2>
        <h2 routerLink="vehicle">Vehicle</h2>
        <h2 routerLink="createVehicle">createVehicle</h2>
        <h2 routerLink="bankaccount">Bankaccount</h2>
        <h2 routerLink="gmail">Mail</h2>
        <h2 routerLink="rectangle">Rectangle</h2>
        <h2 routerLink="circle">Circle</h2>
        <h2 routerLink="bmi">Bmi</h2>
        <h2 routerLink="dice">dice</h2>
        <button (click)="logout()">Logout</button>
    </div>
    <div id="child2">
        <router-outlet></router-outlet>
    </div>
</div>